body {
    background: url("../images/cubes.png");
}
h3 {
    color: white;
}
.logo {
    position: relative;
    width: 30%;
    left: 35%;
}
.mainPic {
    margin: 30px 20px 15px 0px;
    width: 35%;
    float: left;
}
p {
    margin: 0px;
}
.navbar-brand {
    color: #5d1848;
    font-size: 25px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.mt-10 {
    padding: 30px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contactTitle {
    padding: 30px 0px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.portfolioTitle {
    padding: 30px 0px 0px 0px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.aboutCont {
    margin: 10% auto 5% auto;
    background-color: white;
    padding: 0px 30px;
    text-align: justify;
    overflow: auto;
}
.formBody {
    margin-left: 20%;
    margin-right: 20%;
}
.formContainer {
    margin: 104.5px auto;
    width: 100%;
    background-color: white;
    padding: 20px 30px;
    box-sizing: border-box;
    display: block;
    overflow: auto;
}
.firstGame {
    margin: 0% 0% -9% 0%;
    max-width: 100%;
    height: auto;
    float: left;
}
.navbar-expand-lg {
    background-color: gray;
}
.media {
    margin: 30px 10px 30px 10px;
}
.catMouse {
    margin: 30px 10px 30px 10px;
    overflow: auto;
    display: block;
    width: auto;
    text-align: center;
}
.foot {
    background-color: gray;
    text-align: center;
    border-top: rebeccapurple 10px solid;
    padding: 10px;
    color: white;
}